.App {
  text-align: center;
}

.products {
  border: 1px solid red;
  margin: 20px;
}

.shoppingCart {
  border: 1px solid red;
  margin: 20px;
}

.shoppingCart li {
  list-style: none;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.product * {
  margin: 5px;
}

.shoppingCart p {
  font-weight: bold;
}
.productDetails {
  margin: 16px;
}

.productDetails img {
  max-width: 50vw;
}
